# Database Configuration
DB_CONTAINER_NAME=td1-database
DB_IMAGE=cdmrg/td1-database
DB_PORT=5432
DB_NETWORK=db-network
DB_USER=admin
DB_PASSWORD=change_me_in_production
DB_NAME=myapp

# Backend API Configuration
APP_CONTAINER_NAME=td1-backend
APP_IMAGE=cdmrg/td1-backend
APP_PORT=8080
APP_NETWORK=api-network

# HTTP Server (Reverse Proxy) Configuration
PROXY_CONTAINER_NAME=td1-httpd
PROXY_IMAGE=cdmrg/td1-httpd
PROXY_PORT=8070
PROXY_NETWORK=api-network
